@import "tailwindcss";

:root {
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-inter: var(--font-sans);

    --breakpoint-sm: 375px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
}

@utility container {
    padding-inline: 20px;
    margin-inline: auto;

    @variant lg {
        padding-inline: 80px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    font-family: var(--font-inter), sans-serif;
}
